.navbar-container{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-bottom: 1px solid #d1cfcf;
}
.parts-nav{
    width:360px;
}

